/* CSS Reset (Meyer Reset v2.0) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
  height: 100%;
}

body {
  background: var(--color-background);
  color: #333;
  line-height: 1.6;
  font-size: 100%;
  font-weight: 400;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-text-size-adjust: none;
  letter-spacing: 0.05em;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

a {
  color: var(--color-highlight);
  text-decoration: none;
  transition: .2s;
}

a:focus {
  outline: none;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

button, input {
  font-family: inherit;
  font-size: inherit;
  background: none;
  border: none;
  outline: none;
  appearance: none;
  border-radius: 0;
  resize: none;
}

button:focus, input:focus {
  outline: none;
}

/* CSS Variables (Theme) */
:root {
  --color-base: #121212;
  --color-background: #21242d;
  --color-black-light: #313746;
  --color-gray: #727d86;
  --color-silver: #969fa7;
  --color-whitesmoke: #f1f4f7;
  --color-highlight: #1da1f2;
  --color-red: #f7615f;
  --color-orange: #ffa22b;
  --color-gradient: linear-gradient(-45deg, #ffa649, #f7645b, #805ed4);
  --size-bio-width: 290px;
  --size-max-width: 1100px;
  --side-space-small: 20px;
  --side-space-large: 1.5em;
  --side-space-content-small: 20px;
  --side-space-content-large: 2.5em;
  --responsive-small: 500px;
  --responsive-medium: 768px;
  --responsive-large: 950px;
}
