---
import XIcon from '../images/socials/x.svg';
---

<div class="follow">
  <a href="https://x.com/psnzbss" rel="nofollow noopener noreferrer" target="_blank" class="follow-link">
    <XIcon class="follow-icon" />
    Follow @psnzbss
  </a>
</div>

<style>
  .follow {
    margin-top: 2em;
    text-align: center;
  }

  .follow-link {
    display: inline-flex;
    align-items: center;
    background: #000000;
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 2.5em;
    text-decoration: none;
    gap: 0.3em;
  }

  .follow-link :global(.follow-icon) {
    width: 31px;
    height: 17px;
  }
</style>
